{% trans_default_domain "message" %}
{% set nbMess = 0 %}
{% if discussion.messages is not empty %}  
    {% set nbMess = discussion.messages|length %}
{% endif %}
<li class="discussion">
    {{ discussion.getIsReadValue(discussion.isRead) }}
    <button class="button-text accordion-item {{ discussion.getIsReadValue(discussion.isRead) }}" data-url="{{ path('zen_mes_discussion',{'id_discussion':discussion.id}) }}">
        <span class="discussion-status"></span>
        <span class="discussion-subject text">
            {{ discussion.subject }}
            {% if (nbMess > 1) %}
                ( {{ nbMess }} )
            {% endif %}
        </span>
    </button>
    <button class="button-answer button-text" data-url="{{ path('zen_mes_add_message', {'id_discussion': discussion.id }) }}" >{{'message.answer'|trans}}</button>
    <button class="button-archive button-text" data-url="{{ path('zen_mes_archived_discussion', {'id_discussion': discussion.id }) }}" >{{'message.archived'|trans}}</button>

    <div class="accordion-content">
        <ul class="messages-list">
            {% for message in discussion.messages %}
                <li class="message-item">
                    <span class="meta">
                        From : 
                        <span class="author">{{message.sender.lastname}} {{message.sender.firstname}}</span>
                        <span class="date">{{ message.dateSend|date("m/d/Y") }}</span>
                    </span>
                    <hr class="line" />
                    <p class="message-content">
                        {{ message.content }}
                    </p>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
</li>